body{

}

footer{
	background-color: white;
	height: 90px;
	bottom: 0;
	position: fixed;
	width: 100%;
	font-size: 300%;
	color: purple;
	
	text-align: center;
}

.menu-top-notas{
 	background-color: black;
 	color: white;
 	width:90%;
 	height: 50%;
 	margin-left:50px;
	margin-top: 10px;
	margin-bottom:10px;
	border-radius: 10px;
	font-size: 400%;

}

.table-notas{
	background-color:red;
	margin-left:50px;
	margin-top: 40px;
	margin-bottom:10px;
	border-radius: 10px;
	width: 90%;

	height:50%;
	padding-top: 30px;
	font-size: 300%;
		border-color: black;
	border: 2px solid;
}


.legenda{
	color: white;
	padding: 0;
}

.nova{
	padding: 20px;
}

.bord{
	border-color: black;
	border: 2px solid;
}
.ob{
	text-align: center;
	border-bottom: 0;
}

.bord-menu{
	border: 3px solid;
	border-bottom: 0;
}
.login{
	height: 100%;
	font-size: 40px;
	margin-top: 300px;
	color: white;
}